@inherits LayoutComponentBase
@using Yggdrasil.Client.Pages.Components

<CascadingValue Value="@Globals">
    <BusyView @ref="BusyView" />
    <RadzenDialog />

    <div class="page containerbox">
        <div class="sidebar">
            @*<NavBar Entries="GetNavBarEntries()" Title="Campaigns" TitleAddress="/" />*@
        </div>

        <div class="top-row px-4 auth">
            <AuthorizeView Context="user">
                <Authorized>
                    <div>@user.User.Identity.Name</div>
                </Authorized>
            </AuthorizeView>
        </div>

        <div class="content px-4 containerbox">
            @Body
        </div>
    </div>
</CascadingValue>