@using Yggdrasil.Client.Services
@using ViewModels

<Dialog @ref="Dialog" Title="Add Location">
    <Body>
        <div class="body">
            <StringTextField @bind-Text="@ViewModel.Name" Label="Name" MaxLength="@AddLocationViewModel.MaxNameLength" IsRequired="true" IsImmediate="true"/>
        </div>
    </Body>
    <Actions>
        <Button OnClick="OnCancel" IsCancel="true">Cancel</Button>
        <Button OnClick="OnAccept" IsDefault="true" IsEnabled="@ViewModel.IsValid">Accept</Button>
    </Actions>
</Dialog>