.edit-location-view {
    display: grid;
    grid-template-rows: 1fr min-content;
}

.edit-section {
    grid-row: 1;
    display: grid;
    grid-template-rows: min-content min-content min-content 1fr;
}

.description.edit {
    display: grid;
    grid-template-rows: 1fr;
}

.page-options{
    grid-row: 2;
}