.location-view {
    grid-template-rows: min-content 3fr 1fr;
}

.location-data {
    display: grid;
    grid-template-rows: min-content min-content max-content min-content 1fr;
    grid-template-columns: 3fr 1fr;
}

.name {
    grid-row: 1;
    grid-column: 1 / span 2;
}

.label {
    font-weight: bold;
}

.details.label {
    grid-row: 2;
}

.details.text {
    grid-row: 3;
}

.tags.label {
    grid-column: 2;
    grid-row: 2;
}

.tags.text {
    grid-row: 3;
}

.location-children {
    grid-row: 3;
    display: grid;
    grid-template-rows: min-content 1fr;
}
