.page {
    display: grid;
    grid-template-rows: min-content min-content 1fr min-content;
}

.page-options {
    grid-row: 4;
}

.location-root {
    grid-row: 2;
}

.location {
    grid-row: 1;
}

.locationlist {
    grid-row: 3;
}
