@using Yggdrasil.Client.Services

<Dialog @ref="Dialog" Title="Error">
    <Body>
        <div class="@GetClass()">
            @switch (_exception)
            {
                case ProblemException problem:
                    <ProblemExceptionView Class="exception-view" Exception="problem" />
                    break;
                default:
                    <GenericExceptionView Class="exception-view" Exception="_exception" />
                    break;
            }
        </div>
        @if (ShowDev)
        {
            <div class="exception-stack">@_exception.StackTrace</div>
        }
    </Body>
    <Actions>
        <Button OnClick="OnAccept">Accept</Button>
    </Actions>
</Dialog>