.loading-block {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: 1fr min-content 1fr;
    opacity: 0.3;
}

.loading-spinner {
    grid-row: 2;
    grid-column: 2;
    border: 8px solid silver;
    border-top: 8px solid blue;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation-name: spin;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin: 0 auto;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
