<div class="root-map-root">
    @if (Ancestors != null)
    {
        foreach (RootMapItem parent in Ancestors)
        {
            <div class="root-map-item"><span class="root-map-separator">/</span><div @onclick="(() => OnParentSelected(parent.AncestorId))">@parent.AncestorName</div></div>
        }
    }
</div>