<Dialog @ref="Dialog" Title="Log-In">
    <Body>
        <div class="login-dialog dialog-content">
            <StringTextField Class="username" @bind-Text="@UserName" Label="User Name" IsRequired="true"></StringTextField>
            <StringTextField Class="pass" @bind-Text="@Password" IsImmediate="true" Label="Password" IsPassword="true"></StringTextField>
        </div>
    </Body>
    <Actions>
        <Button OnClick="OnAccept" IsEnabled="IsValid" IsDefault="true">Accept</Button>
        <Button OnClick="OnCancel" IsCancel="true">Cancel</Button>
    </Actions>
</Dialog>

<ExceptionDialog @ref="ExceptionDialog" />