.page-users {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.page-title {
    grid-row: 1;
}

.user-list {
    grid-row: 2;
}

.page-options {
    grid-row: 3;
}

.username {
    font-size: large;
}

.requires-verification {
    font-size: small;
}

.user-locked {
    font-size: small;
}

li div {
    user-select: none;
}